# Bonus: Temperature Analysis I

In [18]:
import pandas as pd
from datetime import datetime as dt

In [19]:
# "tobs" is "temperature observations"
df = pd.read_csv('Resources/hawaii_measurements.csv')
df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [20]:
# Convert the date column format from string to datetime
df["date"] = pd.to_datetime(df["date"])

In [21]:
# Set the date column as the DataFrame index
df_index = df.set_index("date")
df_index.head()

                station  prcp  tobs
date
2010-01-01  USC00519397  0.08    65
2010-01-02  USC00519397  0.00    63
2010-01-03  USC00519397  0.00    74
2010-01-04  USC00519397  0.00    76
2010-01-06  USC00519397   NaN    73

In [22]:
# Drop the date column

### Compare June and December data across all years

In [23]:
from scipy import stats

In [29]:
# Filter data for desired months
june = df[df["date"]=="%-06-%"]
december = df[df["date"]=="%-12-%"]
june

Empty DataFrame
Columns: [station, date, prcp, tobs]
Index: []

In [26]:
# Identify the average temperature for June
avg_june_temp = june["tobs"].mean()
avg_june_temp

Series([], Name: tobs, dtype: int64)

In [ ]:
# Identify the average temperature for December

In [ ]:
# Create collections of temperature data

In [ ]:
# Run paired t-test

### Analysis